/*
$navLinkSelBgColor:#ec643e;
*/
$lexWebDevOrange:#ec643e;

$navLinkSelBgColor:#a5142d;
$briteRed:#e61c3f;
$navLinkHoverBgColor: #6f6f6f;
$small-title: #999;
$header:#999;

$submitbtn:#666;
$submitbtnhover:#333;
$bodytext:#999;
$veryDarkBlue:#00044a;