.fake-icon {
  color: #ea4c89;
  font-size: 30px;
  padding: 2px;
  display: block;
  float: left;
}
.fake-icon.selected{
  border: 2px solid #f1c40f;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.simpleline{
  display: block;
  float: left;
  font-family: 'moon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}